/*document styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Raleway-Bold.woff2') format('woff2'),
url('../fonts/Raleway-Bold.woff') format('woff'),
url('../fonts/Raleway-Bold.ttf') format('truetype'),
url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
font-weight: bold;
font-style: normal;
}

/*header and footer styles*/

header, footer {
    width: 1200px;
}

header {
    color: white;
    background-color: black;
    width: 1200px;
    height: 35px;
    font-size: 15px;
    padding-top: 0px;
}

#headerPadding {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

header h1 {
    float: left;
    text-align: center;
    display: block;
}

.logo {
    text-transform: uppercase;
    color: white;
    float: left;
    text-align: center;
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

.logo span {
    color: #1CCCA8;
}

/*layout styling*/

.container {
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid green; */ /*pomocniczy border*/
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;

}

.row {
    /*border: 3px solid yellow; */
}

.row:after {
    clear: both;
    content: "";
    display: table;
    margin-bottom: 5px;
}

nav {
    width: 35%;
    float: right;
}

nav ul{

    list-style-type: none ;
}

nav ul li {
    float: left;
    display: inline-block;
    margin: 12px;
    text-transform: uppercase;
}

#hiddenList {
    display: none;
}

header li:link {
    color: white;
}

header li:visited {
    color: red;
}

header li:hover {
    color: yellow;
}

header li:active {
    color: black;
}

#gradient {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 98%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(98%, rgba(232,232,232,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 98%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 98%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 98%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 98%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );;
}

aside {
    width: 5%;
    height: 100px;
    font-size: 90px;
}

.right a:hover {
    color: green;
}

.leftArrow {
    float: left;
    text-align: left;
    position: relative;
    top: 120px;
}

.rightArrow {
    float: right;
    text-align: right;
    position: relative;
    top: 120px;
}

.firstSectionArticle {
    display: block;
    float: left;
    width: 50%;
    margin-left: 55px;
    height: 400px;
    text-align: center;
}

.contentFirstSection {
    position: relative;
    top: 80px;
}

.firstSectionArticle h1 {
    text-transform: uppercase;
    font-size: 32px;

}

.firstSectionArticle span {
    text-transform: uppercase;
    font-size: 32px;
    color: #1CCCA8;
}

.firstSectionArticle p {
    font-size: 16px;
    padding: 15px;
    line-height: 22px;
    margin-top: 20px;
    word-spacing: 8px;
    font-family: 'Raleway';
}

.firstSectionArticle button {
    height: 60px;
    width: 240px;
    position: relative;
    top: 20px;
}

.blackChair {
    background-image: url("../images/black_chair.png");
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    width: 30%;
    display: block ;
    float: left;
    background-position: -100px;
}

.pictureDiv {
    float: left;
    width: 30%;
    display: inline-block;
    height: 200px;
    margin: 2px;
}

button {
    background-color: #7edc7e;
    color: white;
    width: 25%;
    height: 40px;
    border-radius: 11%;
}

.firstChair {
    background-image: url("../images/box1_img.jpg");
    background-size: contain;
    position: relative;
    display: block;
}

.secondChair {
    background-image: url("../images/box2_img.jpg");
    background-size: contain;
    position: relative;
    display: block;
}

.thirdChair h2 {
    border-bottom: 10px solid green;
    width: 190px;
}

.thirdChair {

}

.thirdChair p {
    position: relative;
    text-align: left;
    word-spacing: 5px;
    line-height: 5px;
    top: 10px;
}

.firstChair div {
    display: inline-block;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
}

hr {
    width: 50%;
    border: 3px solid greenyellow;
    position: relative;
    top: 35%;
    left: 10px;
}

.firstChair p{
    position: absolute;
    float: left;
   left: 10px;
}

.secondChair p{
    position: absolute;
    float: left;
    left: 10px;
}

.secondChair div {
    display: inline-block;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    background-color: rgba(124, 120, 120,0.25);
}

h3 {
    position: absolute;
    color: lightgreen;
    float: left;
    top: 10px;
    left: 10px;
}

.greeLine {
    width: 180px;
    left: 0px;
}

.sectionLine{
    width: 0%;
    border: 3px solid greenyellow;
    position: relative;
    top: 140%;
    left: 69px;
}

.marginTop {
    margin-top: 30px;
}

.plan {
    width: 30%;
    height: 500px;
    border: 1px solid black;
    float: left;
    margin: 15px;
    position: relative;
}

.whiteCircle {
    width: 90px;
    height: 90px;
    border: 2px solid #D6D6D6;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 125px;
}

.greyCircle {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #BAB8B8;
    position: absolute;
    top: 25%;
    left: 25%;
}

.headerCard {
    margin-top: 60px;
    text-align: center;
}

.priceCircle {
    border: 3px solid #D6D6D6;
    width: 156px;
    height: 156px;
    border-radius: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color:#B9B6B7;
    text-align: center;
    letter-spacing: 1px;
    background-color: white;
}

.priceNumber {
    position: relative;
    top: 32px;
    font-size: 40px;
    left: 5px;
}

.plnSize {
    font-size: 17px;
    line-height: 5px;
    top: 40px;
    left: 5px;
    position: relative;
}

.textInPrice {

}

.plan p {
    text-align: center;
}

.priceButton {
   position: relative;
    top: 20px;
    left: 20px;
    margin-bottom: 5px;
}

.block {
    display: inline-block;
}


.formSection {
    float: left;
    height: 250px;
    width: 48%;
    display: inline-block;
    border: 1px solid black;
}

.redChair {
    width: 48%;
    height: 125px;
    background-image: url("../images/red_chair.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.right {
    float: right;
}

.socialMedia {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.footerDiv {
    width: 170px;
    height: 30px;
    float: right;
}

#flickr {
   background-image: url("../images/flickr.png");
}

#vimeo {
    background-image: url("../images/vimeo.png");
}

#pinterest {
    background-image: url("../images/pinterest.png");
}

#twitter {
    background-image: url("../images/twitter.png");
}

a {
    visibility: none;
    color: white;
}